@{
    Layout = null;
}
@model AdminDto
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>إضافة مستخدم جديد</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="~/css/AddAdmin.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
        <div class="form-container">
            <a href="@Url.Action("Index", "User")" class="btn btn-secondary mb-3">
                <i class="fas fa-arrow-left"></i> العودة للقائمة
            </a>
            <h2 class="text-center my-4">إضافة مستخدم جديد</h2>
            <form method="post" asp-action="AddAdmin" class="needs-validation" novalidate>
                <div class="form-group">
                    <div class="form-group">
                        <label for="DisplayName"> الاسم بالكامل</label>
                        <input type="text" class="form-control" id="displayname" name="DisplayName" placeholder="ادخل الاسم بالكامل" required>
                        <div class="invalid-feedback">يرجى إدخال الاسم بالكامل.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">البريد الإلكتروني</label>
                    <input type="email" class="form-control" id="email" name="Email" placeholder="ادخل البريد الإلكتروني" required>
                    <div class="invalid-feedback">يرجى إدخال بريد إلكتروني صحيح.</div>
                </div>
                <div class="form-group">
                    <label for="password">الرقم السري</label>
                    <input type="password" class="form-control" id="password" name="Password" placeholder="ادخل الرقم السري" required>
                    <div class="invalid-feedback">يرجى إدخال الرقم السري.</div>
                </div>
                <button type="submit" class="btn btn-custom btn-block">إضافة</button>
            </form>
        </div>
    </div>

    <script>
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>
</html>