@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<div class="home-container">
    <img src="~/home.jpg" alt="Welcome" class="home-background" />
</div>